/* [project]/src/app/globals.scss.css [app-client] (css) */
.video-modal .modal-content {
  box-shadow: none;
  background: none;
  border: 0;
}

.video-modal .modal-content .modal-header {
  border: 0;
}

.feature-course-slider-22 {
  margin-bottom: 40px;
}

.slick-slide > div {
  margin-right: 16px;
}

.slick-dots li button:before {
  display: none;
}

.home-two .slick-slide > div {
  margin-right: 16px;
}

.home-two .slick-dots li button:before {
  content: "";
  background-color: #d6d4e4;
  border-radius: 10px;
  width: 7px;
  height: 7px;
}

.home-two .slick-dots li.slick-active button:before {
  background-color: #ff4667;
  border-radius: 10px;
  width: 15px;
  height: 7px;
}

.ant-select-dropdown .ant-select-item-option-active {
  color: #fff !important;
  background-color: #392c7d !important;
  border-radius: 0 !important;
}

.ant-select {
  color: #5d5d5d;
  font-family: Inter, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.about-us-content .slick-dots {
  justify-content: start;
  align-items: center;
  display: flex !important;
}

.banner-section-two .banner-img-section .banner-bg-03 {
  z-index: 99;
  position: relative;
}

.menu-opened body:before {
  z-index: 999;
}

.menu-opened .main-menu-wrapper body:before, .menu-opened body:before {
  content: "";
  background-color: rgba(0, 0, 0, .6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.home-five .drop-detail-three {
  height: 55px;
  border-radius: 5px !important;
}

.home-five .drop-detail-three .ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

.home-five .drop-detail-three .ant-select-single {
  height: 55px;
}

.home-five .slick-dots li.slick-active button {
  background: #ff4667;
  border-radius: 50px;
  width: 14px;
  height: 14px;
}

.home-five .slick-dots li button {
  background: var(--dark);
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.home-five .slick-dots li button:before {
  display: none;
}

.ant-slider .ant-slider-handle:after {
  background-color: #ff4667;
  box-shadow: 0 0 0 2px #ff4667;
}

.ant-slider .ant-slider-track {
  background-color: #ff4667;
}

.theiaStickySidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.home-3 .banner-section-three .banner-bg-02, .home-3 .banner-section-three .banner-bg-01 {
  z-index: -1;
}

.home-3 .ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  border: 0;
  background-color: #ffdae0 !important;
  border-radius: 50px !important;
}

.home-3 .ant-select-single {
  height: 44px;
}

.home-3 .slick-dots button {
  background: #f5f5f5;
  border-radius: 50px;
  width: 15px;
  height: 7px;
}

.home-3 .slick-dots .slick-active {
  background: #392c7d;
  border-radius: 50px;
  width: 50px;
  height: 7px;
}

.home-3 .slick-dots .slick-active button {
  background: none;
}

.home-3 .slick-dots li button {
  border-radius: 50px;
  width: 15px;
  height: 7px;
}

.home-two .slick-dots button {
  background: #f5f5f5;
  border-radius: 10px;
  width: 7px;
  height: 7px !important;
}

.home-two .slick-dots .slick-active {
  background: #392c7d;
  border-radius: 10px;
  width: 15px;
  height: 7px;
}

.home-two .slick-dots .slick-active button {
  background: none;
}

.home-two .slick-dots li {
  width: auto;
  height: auto;
  margin: 0 5px;
}

.home-two .slick-dots li button {
  border-radius: 10px;
  width: 7px;
  height: 7px !important;
}

.home-4 .ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 5px;
}

.home-4 .ant-select-single {
  height: 44px;
}

.home-six .ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  border: 0;
  background-color: #ff4667 !important;
  border-radius: 50px !important;
}

.home-six .ant-select-single .ant-select-selector .ant-select-selection-item {
  color: #fff !important;
}

.home-six .ant-select-single {
  height: 44px;
}

.home-six .slick-dots {
  bottom: -60px;
}

.home-six .slick-dots li {
  margin-right: 35px;
}

.home-six .slick-dots li.slick-active button {
  background-color: #ff4667;
  width: 50px;
  height: 5px;
}

.home-six .slick-dots li button {
  background-color: #f6f6fe;
  width: 50px;
  height: 5px;
  padding: 0;
}

.like.selected i {
  color: #ff4667;
}

.antd-custom-table {
  position: relative;
}

.antd-custom-table.custom-table {
  border: none;
}

.antd-custom-table .table-search {
  position: absolute;
  top: -54px;
  right: 0;
}

.antd-custom-table .ant-table-wrapper {
  font-family: Inter, sans-serif;
  overflow: hidden;
}

.antd-custom-table .ant-table-wrapper .ant-table-tbody > tr > td {
  padding: 12px 15px;
}

.antd-custom-table .ant-table-wrapper .ant-table-thead > tr > th {
  color: #191919;
  background: #f8f8f8;
  padding: 12px 15px;
}

.antd-custom-table .ant-table {
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  overflow-x: auto;
}

.antd-custom-table .input-icon-addon {
  top: 20px;
}

.antd-custom-table .ant-pagination-total-text {
  color: #6d6d6d;
  position: absolute;
  left: 0;
}

.antd-custom-table .ant-pagination .ant-pagination-item {
  background-color: #f8f8f8;
  border-radius: 50%;
}

.antd-custom-table .ant-pagination-item.ant-pagination-item-1.ant-pagination-item-active {
  color: #fff;
  background-color: #ff4667;
  border-color: #ff4667;
}

.antd-custom-table .ant-pagination-prev, .antd-custom-table .ant-pagination-next {
  background-color: #f8f8f8;
  border-radius: 50%;
}

.ant-select-single {
  height: 40px;
}

.ant-select-dropdown {
  z-index: 99999999;
}

.ant-otp .ant-otp-input {
  text-align: center;
  border-color: var(--gray-100);
  width: 88px;
  height: 70px;
  color: var(--gray-900);
  background-color: var(--white);
  min-height: 40px;
  margin-right: 20px;
  padding: .5rem 1rem;
  font-size: 14px;
}

.ant-input-outlined:focus {
  border-color: #ff4667 !important;
}

.ant-picker .ant-picker-suffix {
  display: none;
}

.icon-form .form-icon {
  z-index: 1;
}

.line-height-2 .form-control {
  line-height: 2;
}

.swiper-testimonial-three .swiper-coverflow {
  width: -moz-fit-content;
  width: fit-content;
  right: 349px;
}

@media (max-width: 767.98px) {
  .swiper-testimonial-three .swiper-coverflow {
    width: 100%;
    right: auto;
  }
}

.input-tags .tag {
  background: var(--light);
  border: 1px solid var(--gray-100);
  color: var(--gray-700);
  border-radius: 3px;
  align-items: center;
  padding: 0 30px 0 5px;
  font-size: 14px;
  display: inline-flex;
}

.input-tags .p-chips-token {
  margin-right: 10px;
  position: relative;
}

.input-tags .p-chips-token svg {
  position: absolute;
  right: 4px;
}

.dark-mode .inner-banner .text-white {
  color: #d8dfee !important;
}

.dark-mode .ant-select-selector {
  background-color: #121212 !important;
  border: 1px solid #17222c !important;
}

.dark-mode .daterangepicker .ranges ul {
  background-color: #0d0d0d !important;
  border: 1px solid #17222c !important;
}

.dark-mode .ant-select-dropdown {
  background-color: #0d0d0d !important;
}

.dark-mode .ant-select-dropdown .ant-select-item {
  color: #4e5561 !important;
}

.dark-mode .ant-select-dropdown .ant-select-item-option-active {
  color: #fff !important;
}

.dark-mode .ant-select .ant-select-selection-placeholder, .dark-mode .ant-select-single .ant-select-selector, .dark-mode .ant-select .ant-select-arrow, .dark-mode .ant-picker-dropdown .ant-picker-time-panel-column > li.ant-picker-time-panel-cell .ant-picker-time-panel-cell-inner {
  color: #d8dfee;
}

.dark-mode .ant-picker-dropdown .ant-picker-time-panel-column > li.ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner {
  background: #000;
}

.dark-mode .daterangepicker td.active, .dark-mode .daterangepicker td.active:hover {
  color: #fff;
  background-color: #ff4667;
}

.dark-mode .daterangepicker .calendar-table td.in-range {
  background-color: #fff;
}

.dark-mode .daterangepicker, .dark-mode .daterangepicker .calendar-table {
  background-color: #0d0d0d !important;
  border: 1px solid #1b1632 !important;
}

.dark-mode .daterangepicker td.off {
  background-color: #0d0d0d !important;
}

.dark-mode .daterangepicker {
  background-color: #0d0d0d;
  border: 1px solid #1b1632;
}

.dark-mode .rsw-toolbar {
  background-color: #0d0d0d;
  border-bottom: 1px solid #17222c;
}

.dark-mode .rsw-btn {
  color: #fff;
}

.dark-mode .ant-picker-outlined:hover {
  background-color: #0d0d0d;
  border-color: #17222c;
}

.dark-mode .testimonial-section .testimonial-slider .slick-prev {
  background-color: #0d0d0d;
}

.dark-mode .testimonial-section .testimonial-slider .slick-prev:before {
  color: #fafcff;
}

.dark-mode .testimonial-section .testimonial-slider .slick-next {
  background-color: #0d0d0d;
}

.dark-mode .testimonial-section .testimonial-slider .slick-next:before {
  color: #fafcff;
}

.dark-mode .ant-picker-dropdown .ant-picker-panel-container {
  background-color: #0d0d0d;
}

.dark-mode .ant-picker-dropdown .ant-picker-cell-in-view, .dark-mode .ant-picker-dropdown .ant-picker-header-view > button {
  color: #fafcff;
}

.dark-mode #reportrange {
  background-color: #0d0d0d !important;
  border: 1px solid #17222c !important;
}

.dark-mode #reportrange span, .dark-mode .table.ant-table-wrapper .ant-table-thead > tr > th, .dark-mode .ant-table-wrapper .ant-table-thead > tr > td {
  color: #fafcff !important;
}

.dark-mode .table.ant-table-wrapper .ant-table-thead > tr > th:before, .dark-mode .ant-table-wrapper .ant-table-thead > tr > td:before {
  background-color: #0d0d0d !important;
}

.dark-mode .ant-table-wrapper .ant-table-column-title {
  color: #fafcff !important;
}

.dark-mode .table tbody tr td {
  background-color: #0d0d0d !important;
}

.dark-mode .user-sidebar .user-sidebar-body ul li a.active span {
  color: #cf3425;
}

.dark-mode .agent-sidebar ul li a {
  color: #fafcff !important;
}

.home-4 .knowledge-sec .featured-img-1 {
  float: left;
  background-image: url("../media/feature-28.e1d15a41.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 777px;
}

.course-item.course-item-five .course-content .course-price h3 {
  -o-transition: .7s;
  margin-bottom: 0;
  font-size: 20px;
  transition: all .7s;
}

@media (max-width: 991.98px) {
  .section.student-course.student-course-five {
    margin-top: 40px;
  }
}

@media (max-width: 575.98px) {
  .banner-three-content .input-group, .drop-detail-three {
    width: 100% !important;
    display: block !important;
  }
}

@media (max-width: 767.98px) {
  .banner-three-content .sub-btn {
    width: 100%;
    margin-top: 10px;
  }
}

.rsw-toolbar select {
  background: none;
  border: none;
}

.home-4 .knowledge-sec .joing-list .joing-header {
  display: flex;
}

.dark-mode .rsw-editor {
  border: 1px solid #171717;
}

.dark-mode .rsw-dd {
  color: #fff;
}

.dark-mode .ant-table-wrapper .ant-table-container table thead tr th {
  background-color: #0d0d0d;
  border: 1px solid #171717;
}

.dark-mode .antd-custom-table .ant-table {
  border: 1px solid #171717;
}

.dark-mode .ant-table-wrapper .ant-table-tbody > tr > td {
  border-bottom: 1px solid #171717;
}

.dark-mode .ant-table-wrapper .ant-table-thead th.ant-table-column-has-sorters:hover {
  background-color: #0d0d0d;
}

.banner-three-content .sub-btn:hover {
  width: 100%;
  margin-top: 10px;
}

/*# sourceMappingURL=src_app_globals_scss_css_bad6b30c._.single.css.map*/